/* ------article-detils styling--------- */
.hero .article-detils{
    width: 91.95509822263798%;
}
.hero .cover-photo{
    width: 100%;
    border-radius: 16px;
}
.hero .head{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.hero .head .icons{
    display: flex;
    gap: 13px;
}
.hero .head .icons img{
    width: 24px;
    height: 24px;
}
.hero .article-detils .date{
    font-size: 16px;
    font-weight: 400;
    color: #928C8C;
}
.hero .article-detils .description{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    line-height: 24px;
}
.hero .article-detils .tagss{
    color:#928C8C;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}
.hero .article-detils .container{
    width: 100%;
    background-color: white;
    height: 145px;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.hero .article-detils .container span{
    font-size: 10px;
    font-weight: 400;
    color: #282828;
}
.hero .article-detils .container .container-add{
    display: flex;
   align-items: center;
   padding-top: 5px;
   padding-right: 10px;
   gap: 15px;
   flex-direction: row-reverse;
}
.hero .article-detils .container .container-add .added-photo .photo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


